.article {
    padding-top: 3rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        text-align: justify;
        width: 50vw;
    }
}