.article-feed {
    grid-area: main;
    margin-right: 8rem;
    width: 55vw;

    &__header {
        font-size: 4rem;
        color: $fourth-color;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 1.5rem;
        color: $third-color;
    }

    &__author {
        font-size: .9rem;
    }

    &__content {
        font-size: 1.2rem;
        text-align: justify;
    }

    &__btn {
        border-radius: 8px;
        font-size: 1rem;
        background-color: $third-color;
        color: $fourth-color;
        padding: 4px;
        margin: 8px;
    }

    &__card {
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 8px;
        background-color: $secondary-color;
        opacity: 0.8;
    }
}