@import './variables';
@import './nav';
@import './footer';
@import './sidebar';
@import './landing';
@import './article-feed';
@import './article.scss';
@import './comments';
@import './login';

body {
    background-color: $primary-color;
    // overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    color: $fourth-color;
}

